input#send_button {
  margin-left: 270px;
  margin-top: 30px;

  display: inline-block;
}

input#name {
  width: 200px;
  height: 20px;
  font-size: 20px;
}

input#password {
  width: 200px;
  height: 20px;
  font-size: 20px;
}
